.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1500px;
}
.text1 {
	font-family: 'Inter', sans-serif;
	font-size: 1.75rem;
	margin: 0;
}
.text2 {
	font-family: 'Rouge Script', cursive;
	font-size: 3rem;
	margin: 0;
}
.text3 {
	font-family: 'Inter', sans-serif;
	font-size: 1.5rem;
	margin: 0;
}
.text4 {
	font-family: 'Rouge Script', cursive;
	font-size: 2.5rem;
	margin: 0;
}