$grid-gutter-width: 0px;

@import './colors';
@import './components';
@import '../node_modules/bootstrap/scss/bootstrap';

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62, 5%;
	scroll-behavior: smooth;
}

body {
	font-family: 'Inter', sans-serif;
	font-family: 'Rouge Script', cursive;
}

// NAV
.nav-link {
	font-family: 'Inter', sans-serif;
	font-size: 1.75rem;
	color: $dark;
	transition: color 0.3s;

	&:hover {
		color: $dark-pink;
	}
}

// HEADER

.header {
	width: 100%;
	background-position: center;
	background-size: cover;
}

.header-heading {
	font-size: 8rem;
	margin: 0;
	color: $dark-pink;
	text-shadow: 2px 2px 1px #ffffff;
	text-align: center;
	padding: 20px;
}

@include media-breakpoint-up(md) {
	.header-heading {
		font-size: 10rem;
	}
}



// CONTACT

.contact-heading {
	font-family: 'Inter', sans-serif;
	font-size: 2.25rem;
	font-weight: bold;
	text-align: center;
	padding: 0px 10% 20px ;
	margin: 0;
}


.contact-info {
	font-family: 'Inter', sans-serif;
	font-size: 2rem;
	text-align: center;
	padding: 100px 10% 100px ;
	margin: 0;
}

a {
text-decoration: none;
color: $dark;
}



.img-border {
	border: 3px solid #A8DF8E;
	margin: 100px 10%;
	padding: 100px;
	box-shadow: 10px 10px #e7fad2;
}










