$grid-gutter-width: 0px;

@import './colors';
@import './components';
@import '../node_modules/bootstrap/scss/bootstrap';

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62, 5%;
	scroll-behavior: smooth;
}

body {
	font-family: 'Inter', sans-serif;
	font-family: 'Rouge Script', cursive;
}

// NAV
.nav-link {
	font-family: 'Inter', sans-serif;
	font-size: 1.75rem;
	color: $dark;
	transition: color 0.3s;

	&:hover {
		color: $dark-pink;
	}
}

// HEADER

.header {
	width: 100%;
	background-position: center;
	background-size: cover;
}

.header-heading {
	font-size: 8rem;
	margin: 0;
	color: $dark-pink;
	text-shadow: 2px 2px 1px $white;
	text-align: center;
	padding: 20px;
}

@include media-breakpoint-up(md) {
	.header-heading {
		font-size: 10rem;
	}
}

// SCHEDULE

.border {
	border: 5px solid $dark-pink;
	margin: 150px 0;
	padding: 100px;
	box-shadow: 10px 10px $light-pistachio;
}

.schedule-heading {
	font-family: 'Inter', sans-serif;
	font-size: 2.25rem;
	text-align: center;
	padding: 350px 10%;
	margin: 0;
}

.text-style {
	color: #ff608a;
	text-decoration: none;
	font-size: 7rem;
}

// CALENDAR

ul {
	list-style-type: none;
}

.calendar {
	font-family: 'Inter', sans-serif;
	padding: 150px 3%;
}

.month {
	padding: 30px 25px;
	width: 100%;
	background: $pink;
	text-align: center;
}

.month ul {
	margin: 0;
	padding: 0;
}

.month ul li {
	color: $dark;
	font-size: 2.5rem;
	text-transform: uppercase;
	letter-spacing: 3px;
}

.prev {
	padding-top: 25px;
	float: left;
}

.next {
	padding-top: 25px;
	float: right;
}

.weekdays {
	font-size: 2rem;
	margin: 0;
	padding: 10px 0;
	background-color: $grey2;
}

.weekdays li {
	display: inline-block;
	width: 13.6%;
	color: $grey4;
	text-align: center;
}

.days {
	padding: 10px 0;
	background: $grey1;
	margin: 0;
}

.days li {
	list-style-type: none;
	display: inline-block;
	width: 13.6%;
	text-align: center;
	margin-bottom: 5px;
	font-size: 2rem;
	color: $dark;
}

.inactive {
	color: $grey3;
}

.active {
	padding: 10px;
	background: $pink;
	color: $white;
}


// CONTACT 

.contact {
	font-family: 'Inter', sans-serif;
	padding: 100px 3%;
	font-size: 2rem;
}

.send-btn {
	font-family: 'Inter', sans-serif;
	font-size: 2rem;
	margin: 50px 40%;
	width: 20%;
	padding: 12px 24px;
	border: none;
	background-color: $pink;
	color: $white;
	text-shadow: 1px 1px 1px #ff608a;
	transition: background-color 0.3s;
	&:hover {
		background-color: $dark-pink;
	}
}